@import"./banner/nav/logo.css";
@import"./banner/nav/menu.css";
@import"./banner/nav/nav.css";
@import"./banner/banner.css";
@import"./normalize.css";
@import"./service/service.css";
@import"./our\ team/team.css";
@import"./footer/footer.css";

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    }
    ul,li,a {
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }