* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
   text-decoration: none;
   color: #000;
   display: flex;
}
/* header & footer */
.menu {
   background-color: black;
   max-width: 480px;
   margin: auto;
}
.menuWrapper {
   list-style: none;
   width: 320px;
   background-color: white;
}
.menuIcon {
   width: 70px;
   text-align: center;
   cursor: pointer;
}
.menuFlex {
   padding-top: 15px;
   display: flex;
}
.menuFlex:hover .menuList{
   display: block;
}
.menuList {
   padding-inline-start: 20px;
   list-style: none;
   display: none;
}
.menuList>li>a {
   text-decoration: none;
   color: #372c48;
}
.menuList>li>a:hover {
   color: rgba(119, 193, 187, 255);
   cursor: pointer;
   text-decoration: none;
}
.menuTitle {
   padding-top: 3px;
   font-size: 17.5px;
   color: #372c48;
}
.menuTitle:hover {
   color: rgba(119, 193, 187, 255);
   cursor: pointer;
}
.menuRightBlock {
   padding-left: 20px;
}
#idishka1:checked~.menuList {
   display: block;
}
#idishka2:checked~.menuList {
   display: block;
   
}
#idishka3:checked~.menuList {
   display: block;
}
.click {
   display: none;
}
.menuCow {
   display: none;
}
.menuSvg:hover {
   fill: #77c1bb;
}
.iconStar {
   width: 20px;
   height: 20px;
}
@media (min-width:768px) {
   .menu {
       max-width: 960px;
   }
}
@media (min-width:1024px) {
   .menu {
       max-width: 1440px;
   }
   .menuCow {
       padding-top: 20px;
       padding-left: 25px;
       display: block;
       width: 100%;
       height: 150px;
       background-color: #77c1bb;
   }
   .menuLogo {
       width: 80px;
       margin-left: 12px;
   }
   .cowTitle {
       font-size: 26px;
       color: #372c48;
   }
}
.headerFlex {
   display: flex;
   padding: 10px;
   align-items: center;
}
.headerWrapper {
   margin: auto;
   display: flex;
   align-items: center;
   max-width: 480px;
   justify-content: space-between;
}
.footer{
height: 90px;
   background-color: #77c1bb;
}
.footerWrapper {
   margin: auto;
   max-width: 480px;
   justify-content: space-between;
}
.hiddenSearch {
   width: 100%;
   height: 100vh;
   background-color: #77c1bb;
   text-align: center;
   padding-top: 100px;
}
.headerMenu {
   padding-top: 2px;
   width: 70px;
 text-align: center;
}
.headerSection { 
   
   background-color: #77c1bb;
}
.headerLogo {
   margin-right: 15px;
}
.headerTitle {
   padding-top: 3px;
   margin-right: 100px;
}
.headerTitleText {
   color: #372c48;
   font-size: 21px;
}
.headerInput {
   display: none;
}
.headerSearch{
   color: #372c48;
   display: block;
   margin-right: 10px;
}
.hiddenSearchText {
   padding-top: 10px;
   color: #372c48;
   margin-bottom: 50px;
}
.hiddenSearchInput {
   margin: auto;
   padding-left: 35px;
   background-color: transparent;
       color: white;
       width: 240px;
       border: 0px ;
       border-bottom: 2px solid white;
       display: block;
       background: url(./images/searchWhite.svg) no-repeat center left; 
}
.footerList {
list-style: none;
display: flex;
justify-content: center;
width: 100%;
margin-bottom: 0;
}
.footerIcon {
   border: 1px solid #372c48;
   border-radius: 100%;
   margin:10px 10px 0;
   text-align: center;
   
}
.footerIcons {margin-bottom: 7px;
  
   list-style: none;
   display: flex;
   width: 100%;
   justify-content: center
}
.footerimgIcon{
   vertical-align: middle;
}
.vkIcon {
   padding: 5px;
  }
.telIcon {
   padding: 5px;
}
.twIcon {
   padding: 5px;
}
.fbIcon{
   padding: 5px;
}
.footerLink {
   margin: 0 10px;
   text-decoration: none;
color: #372c48;
}
@media (min-width: 768px) {
   .headerWrapper {
       max-width: 960px;
   }
   .headerInput {
       padding-left: 30px;
   }
  
   .headerSearch{
       display: none;
   }
   
   .inputCard {
       background-color: transparent;
       color: #372c48;
       width: 200px;
       height: 30px;
       border: 0px ;
       border-bottom: 1px solid #372c48;
       margin-right: 15px;
       display: block;
       background: url(../images/search.svg) no-repeat center left;

   }
}
@media (min-width: 1024px) {
   .headerWrapper {
       max-width: 1440px;
   }
   
}
/* Vasia */
.menu-icon {
   display: block;
     font-size: 0;
     background: none;
     border: none;
     width: 30px;
     height: 25px;
     position: relative;
   cursor: pointer;
 }
 
 .menu-icon,
 .menu-icon:before,
 .menu-icon:after {
   border-top: 3px solid #000;
   transition: all .3s;
 }
 
 .menu-icon:before,
 .menu-icon:after {
     position: absolute;
     content: "";
     display: block;
     left: 0;
     right: 0;
 }
 
 .menu-icon:before {
     top: 7px;
 }
   .menu-icon:after {
     top: 17px;
 }
 
 .menu-icon.opened {
     border-top-color: transparent;
 }
 
 .menu-icon.opened:after {
     transform: rotate(45deg);
     top: 12px;
 }
 
 .menu-icon.opened:before {
     transform: rotate(-45deg);
     top: 12px;
 }
 /*styles for menu container*/
 
 
 
 .menu-container.closed {
   display: none;
}
.menu-container.opened {
   display: block;
   position: absolute;
   background-color: white;
   z-index: 9999;
   /* top: 7%; */
   left: 1px;
 }

/* Modal Juli */
 /* Juli section */
 .modal_container_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5555;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.32);
  }
  
  .modal_container_bg {
      max-width: 300px;
      width: 275px;
      height: 335px;
      position: relative;
      padding: 22px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 2px;
      margin-top: 70px;
      z-index: 2;
      box-sizing: border-box;
  }
  
  .form__title {
      font-family: 'Avenir-Medium', sans-serif;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 53px;
  }
  .form__field,
  .form__button_submit {
      border: none;
      background-color: transparent;
      outline: none;
  }
  .form__span {
      width: 100%;
      display: block;
      position: relative;
      text-align: left;
      margin-bottom: 29px;
  }
  .form__span--bottom {
      margin-bottom: 49px;
  }
  .form__field {
      width: 100%;
      height: 29px;
      color: black;
      font-size: 1em;
      padding-left: 11px;
      /* -webkit-text-fill-color: #fff!important; */
  
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  
  .form__inner {
      position: absolute;
      width: 100%;
      height: 29px;
      top: 0;
      left: 0;
      font-size: 1rem;
      color: rgb(0, 0, 0);
      border-bottom: 1px solid rgba(0, 0, 0, 0.36);
      cursor: text;
  } 
  .form__inner:after {
      width: 0%;
      height: 1px;
      content: '';
      display: block;
      position: absolute;
      background-color: #77c1bb;
      left: 0;
      bottom: -1px;
      transform: translate3d(0, 0, 0);
      transition: width ease-out .4s;
  }
  .form__field:invalid {
      color: rgb(250, 109, 109)
  }
  .form__field:focus + .form__inner:after,
  .form__field.active + .form__inner:after {
      width: 100%;
  }
  .form__content_label {
      font-family: 'Avenir-Roman', sans-serif;
      position: absolute;
      top: 4px;
      left: 11px;
      font-size: 14px;
      transform-origin: 0 50%;
      transition: all ease-out .2s;
      color: rgba(0, 0, 0, 0.37);
  } 
  .form__field:focus+.form__inner .form__content_label,
  .form__field.active+.form__inner .form__content_label {
      color: rgba(0, 0, 0, 0.37);
      transform: scale(0.8, 0.8) translateY(-120%);
      transition: 0.5s all ease;
  }
  .form__button_submit {
      width: 100%;
      font-size: 16px;
      text-align: right;
      text-transform: uppercase;
      color: #77c1bb;
      
  }
  
  .form__button_submit--bottom {
      flex: 1;
  }
  .form__button_submit:hover {
      color: lighten(#77c1bb, 10%);
  }
  
  .close_modal_icon {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 36px;
      height: 36px;
      opacity: 0.3;
      }
  .close_modal_icon:hover {
  opacity: 1;
  }
  .close_modal_icon:before, .close_modal_icon:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;             
  margin: auto;
  content: ' ';
  height: 12px;
  width: 2px;
  background-color: #333;
  }
  .close_modal_icon:before {
  transform: rotate(45deg);
  }
  .close_modal_icon:after {
  transform: rotate(-45deg);
  }
  
  .modal_container_wrapper.close_modal {
      display: none;
  }
  
  .thanks_message_modal {
      display: none;
  }
  
  .thanks_message_modal.active {
      display: flex;
      flex-direction: column;
      height: 100%;
  }
  
  .form__content.hide {
      display: none;
  }
  
  .thanks_message_modal_content {
      font-family: 'Avenir-Roman', sans-serif;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 1.4;
      flex: 6;
  }
  
  .thanks_message_modal_title {
      font-family: 'Avenir-Medium', sans-serif;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: rgba(0, 0, 0, 0.87);
  }

/* next */

.wrapper {
  width: 90%;
}
.card-descr {
  margin: 40px auto;
}
.card-descr_background {
  background-color: #addad6;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  
}
.card-descr_cover {
  width: 185px;
  height:280px;
  position: relative;
  background: 
    url(../images/Clip\ Group_@1X.png);
  background-position: top;
  background-repeat: no-repeat;
  
  margin: 20px auto;
  border: 4px solid rgb(248, 247, 247);
}
.card-descr_title {
 text-align: center;
 color: #5c5b5b;
  font-size: 20pt;
  font-family: Roboto-Medium, sans-serif;
  font-weight: 700;
}
.card-descr_iconConteiner {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #9a9a9a;
}
.card-descr_iconBell {
  width: 20px;
  height: 20px;
 margin-right: 15px;
  fill: #addad6;
}
.card-descr_iconStar {
  width: 20px;
  height: 20px;
 
  fill:#addad6;
}
#bell {
  width: 20px;
  height: 20px;
}
#star {
  top: 20px;
  right: 60px;
}
.card-descr_iconBell:hover {
  fill: orange;
}
.card-descr_iconStar:hover {
  fill: orange;
}
.card-descr_titleDesktop {
  display: none;
}
.card-desc_table {
  display: none;
}
.card-descr_about {
  display: none;
}
.card-descr_aboutfilm{
  font-size: 16pt;
  color: #706f6f;
  font-family: Roboto, sans-serif;
}
@media (min-width: 768px) {
 
  .card-descr_mainCont {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .card-descr_background {
    width: 45%;
    height: 50%;
    background-color: #addad6;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  
  .card-descr_cover {
    background: url(../images/Clip\ Group_@1X\ \(2\).png);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
  }
  .card-descr_title {
    display: none;
  }
  .card-descr_conteinerDescript {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    color: #706f6f;
  }
  .card-descr_titleDesktop {
    display: block;
    margin-bottom: 20px;
    font-size: 20pt;
    font-family: Roboto-Medium, sans-serif;
    font-weight: 700;
    color: rgba(55, 44, 72, 255);
  }
  .card-descr_date {
    display: none;
  }
  .card-desc_table {
    border-collapse: collapse;
  font-size: 16pt;
  font-family: Roboto, sans-serif;
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  .card-desc_tbody{
    width: 100%;
  }
  .first {
    width: 100px;
    height: 30px;
    padding-left: 5px;
   
  }
  .second {
    width: 500px;
    padding-left: 5px;
    border: none;
    
  }
  .table_color {
    background-color: #addad6;
  }
  .card-desc_table tr {
width: 100%;
  }
  .card-descr_about {
    display: block;
    margin-bottom: 10px;
    color: #706f6f;
    font-size: 20pt;
    font-family: Roboto-Medium, sans-serif;
    font-weight: 700;
  }
  
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 1100px;
  }
.first {
  width: 100px;
}
.second {
  width: 700px;
}
}
/* Victor */
.Viktor {
  min-width: 480px;
  /* background-color: aqua; */
}

.wrapper_Vikror {
  margin: auto;
  width: 90%;
  /* background-color: aquamarine; */
}

.user_Victor {
  display: flex;
  align-items: center;

}



.icon_Victor {
  /* margin: auto; */
  width: 50px;
  height: 50px;
  border-radius: 50px;
  top: 0;
}

.Viktor {
  max-width: 1024px;

}

.name_Victor {
  width: 50%;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  font-size: 18px;
}



.review_Victor {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* сколько оставить строк */
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}


.reviews_Victor{
  margin-bottom: 10px;
}

@media (min-width: 768px) {

  .review_Victor {
    width: 100%;
  }




  .icon_Victor {
    /* margin: auto; */
    width: 60px;
    height: 60px;

  }

}


@media (min-width: 1024px) {

  .Viktor {
    max-width: 1440px;

  }

  .wrapper_Vikror {
    width: 65%;
  }

  .review_Victor {
    font-size: 12pt;
  }


  .name_Victor {
    font-size: 14pt;
  }
}

/* Natalia Verb CSS */
.section-head {
  margin-bottom: 10px;
  font-size: 22px;
  color: #6d6777;
}

.actors-list {
  margin-bottom: 67px;
  display: flex;
  justify-content: space-between;
}

.actors, .trailer {
  margin-left: 16px;
  margin-right: 16px;
  background-color: white;
  margin-bottom: 50px;
}

.actor-item {
  width: 67px;
  height: 94px;
  margin-right: 14px;
}

.photo-wrapper {
  width: 100%;
  margin-bottom: 17px;
  height: 67px;
  overflow: hidden;
  border-radius: 50%;
}

.actor-photo {
  width: 67px;
}

.right-actors, .left-actors {
  margin: auto;
}

.actor-name {
  color: #8dcac5;
  font-size: 19px;
  text-align: center;
}

.trailer {
  margin-bottom: 36px;
}

.wrapper-video {
  width: 328px;
  height: 201px;
  margin: auto;
}

.trailer-video {
  width: 100%;
  height: 100%;
}

.film-frame {
  display: none;
}

.btn-js, .btns-js {
  margin: auto;
}

.actors .arrows .btn-js {
  display: none;
  width: 100%;
}

.actors-frame {
  align-items: baseline;
}

.wrap-arr {
  width: 20px;
  margin-right: 10px;

}

@media  (min-width: 480px) {

  .section-head {
    margin-bottom: 16px;
  }

  .actors-list {
    max-width: 500px;
    margin: auto;
  }

  .actors {
    margin-left: 20px;
    margin-right: 20px;
  }

  .trailer {
    margin-bottom: 48px;
  }


  .wrapper-video {
    width: 368px;
    height: 226px;
  }
  .wrap-arr {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media  (min-width: 768px){
  .actors-trailer {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }

  .actors-frame {
    display: flex;
    justify-content: space-between;
  }

  .frame-list {
    display: flex;
    padding-top: 8px;
    margin-left: 24px;
    margin-right: 10px;
  }

  .arrows {
    display: flex;
    width: 100%;
  }

  .film-frame {
    display: block;
    width: 46%;
  }
  
  .actors {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }

  .click-left, .click-right {
    display: block;
    width: 5px;
    height: 9px;
    margin: auto;
  }

  .click-left {
    margin-right: 10px;
    margin-left: 0;
  }

  .click-right {
    margin-left: 10px;
  }

  .actors-list {
    margin-bottom: 0;
    padding-left: 10px;
  }

  .actor-name {
    font-size: 10px;
    text-align: center;
  }

  .actor-item {
    width: 67px;
    margin-right: 14px;
  }

  .photo-wrapper {
    width: 100%;
    height: 67px;
    margin-bottom: 1px;
  }

  .frame-item {
    width: 60px;
    height: 90px;
    margin-right: 4px;
  }

  .frame {
    width: 100%;
    height: 100%;
  }

  .actors .arrows .btn-js {
    display: block;
    margin-right: 20px;
  }
}

@media  (min-width: 960px) {
  .actors-trailer {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }
}

@media  (min-width: 1024px) {
  .actors-trailer {
    width: 90%;
  }

  .actors-list {
    margin-left: 24px;
    margin-right: 10px;
  }

  .section-head {
    margin-bottom: 26px;
  }

  .trailer {
    margin-bottom: 71px;
  }

  .btn-js {
    margin-left: 0;
    margin-right: 0;
  }

  .actor-item {
    width: 67px;
  }

  .film-frame {
    display: block;
    width: 60%;
  }

  .actors {
    width: 100%;
    margin: 0;
  }

  .actor-name {
    font-size: 10px;
    text-align: center;
  }

  .photo-wrapper {
    width: 100%;
    margin-bottom: 1px;
  }

  .frame {
    width: 100%;
  }
  .wrapper-video {
    width: 714px;
    height: 435px;
  }
}

@media  (min-width: 1440px) {
  .actors-trailer {
    max-width: 1100px;
    margin-bottom: 86px;
  }

  .trailer {
    margin-left: 0;
    margin-right: 0;
  }

  .wrapper-video {
    margin-bottom: 71px;
  }
}