.container {
  position: absolute;
  z-index: 100;
  top: 100%;
  width: 200px;
  margin-left: -100px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonArea {
  display: flex;
  justify-content: space-around;
  padding: 3px;
}

.inputProperty {
  padding: 3px;
  margin: 3px;
  border: 1px solid black;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.buttonProperty {
  width: 100px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 3px;
}

.textareaProperty {
  height: 80px;
  padding: 3px;
  margin: 3px;
  border: 1px solid black;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
