.foot{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between ;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.foot-butt{
    text-transform: uppercase;
    border: 3px solid white;
    background: #95e1d3;
    color: #ffffff;
    font-size: 16px;
    padding: 14px 32px;
    margin-bottom: 230px;
}
.foot-opus{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    }
    .foot-link{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #f6a1a1;
    }