/* Dop 8 - 1 */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .button {
    position: relative;
    display: inline-block;
    border: none;
    min-width: 88px;
    min-height: 36px;
    border-radius: 3px;
    padding: 8px 64px;
    vertical-align: top;
  
    font-size: 64px;
    color: #222;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    font-family: monospace;
    font-weight: 500;
    text-decoration: none;
  
    background-color: #fff;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
  
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .button:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
  } */
  /* Dop 8 - 2 */
  body {
    font-size: 24px;
  }
  
  input,
  button {
    font-size: inherit;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .expression {
    display: flex;
    align-items: center;
    font-family: monospace;
  }
  
  button {
    padding: 4px 32px;
    cursor: pointer;
  }
  
  input {
    width: 100px;
    font-family: monospace;
  }
  
  span {
    margin: 0 8px;
    font-weight: 500;
    font-family: monospace;
  }
  
  .result {
    font-size: 64px;
    font-weight: 400;
  }
  