@font-face{
    font-family: 'Wishdom';       
  src: url(/pdsgolden/fonts/ThirstyScriptExtraBoldDemo.otf); /* разные файлы */
  font-weight: 400;             
  font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url(/pdsgolden/fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-700.eot); /* IE9 Compat Modes */
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
         
         url(/pdsgolden/fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-700.woff) format('woff2'), /* Super Modern Browsers */
         url(/pdsgolden/fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-700.woff2) format('woff'), /* Modern Browsers */
        
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li,a{
    text-decoration: none;
    list-style: none;
}
span{
    display: block;
    width: 90%;
}
.heads{
    background-image: url(./Background\ Image.png);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity:1;
background-color:#000;
text-align: center;
}
.logo-menu{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: auto;
   width: 75%;
   }
.logo{
    font-family: 'Wishdom';    
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 255);
padding: 5%;
}
.logo:hover{
    color: #ffcc33;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
   align-items: center;
}
.menu-item{
    margin: 1%;
    padding: 1%;
    width: 25%;
    height: auto;
}
.menu-links{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 255);
    font-size: 1rem;
}
.menu-links:hover{
    color: #ffcc33;
}
.welc{
    font-family: 'Roboto Slab';
    font-style: bold;
    font-weight: 700;
    font-size: 1rem;
    color: rgba(255, 255, 255, 255);
padding-bottom: 2%;
}
.nice{
    width: 90%;
    height: auto;
    font-family: 'Roboto Slab';
    font-style: bold;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(255, 255, 255, 255);
padding: 2%;
}
.tell{
    padding: 2% 10%;
    font-family: ﻿ChunkFive-Roman, ﻿Montserrat-Bold, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
font-size: 1rem;
color: rgba(255, 255, 255, 255);
text-align: center;
margin-bottom: 10%;
text-transform: uppercase;
background-color: #fed136;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 90%;
    height: auto;
    margin-bottom: 15%;
    margin: auto;
}
.serv{
        font-family: 'Roboto Slab';
        font-style: bold;
        font-weight: 700;
        font-size: 3rem;
    color: rgba(34, 34, 34, 255);
    padding:5%;
    text-transform: uppercase;
    }
.proin{
    font-family: 'Roboto Slab';
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
color: rgba(119, 119, 119, 255);
padding:5%;
}
.h3{
    font-family: 'Roboto Slab';
    font-style: bold;
    font-weight: 700;
    font-size: 1rem;
color: rgba(34, 34, 34, 255);
padding: 15%;
}
.com::before{
   content: url(/pdsgolden/css/Icon-Basket.png);
   display: block;
   border:3px solid #fed136;
   border-radius: 50%;
   padding: 3%;
   margin: auto;
   width: 20%;
   margin-bottom: 3%;
  
}
.web::before{
    content: url(/pdsgolden/css/Icon-Laptop.png);
   display: block;
   border:3px solid #fed136;
   border-radius: 50%;
   padding: 3%;
   margin: auto;
   width: 20%;
   margin-bottom: 3%;
}
.resa::before{
    content: url(/pdsgolden/css/Icon-Locked.png);
   display: block;
   border:3px solid #fed136;
   border-radius: 50%;
   padding: 3%;
   margin: auto;
   width: 20%;
   margin-bottom: 5%;
}

.main-liks{
    width: 100%;
    height: auto;
}
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}
.images{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.nazva{
    font-family: Montserrat-Bold, MyriadPro-Regular, AdobeInvisFont;
font-size: 1rem;
color: rgba(51, 51, 51, 255);
font-weight: bold;
text-align: center;
padding: 5%;
}
.opuca{
    font-family: ﻿DroidSerif-Italic, ﻿RobotoSlab-Bold, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
font-size: 0.7rem;
color: rgba(115, 115, 115, 255);
text-align: center;
padding: 5%;
}
.aboutus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}
.july{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}
.juli-text-one{
    text-transform: uppercase;
    font-family: ﻿Montserrat-Bold, ﻿Montserrat-Regular, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
font-size: 1.5rem;
font-weight: bold;
color: rgba(34, 34, 34, 255);
text-align: center;
padding: 2%;
}
.juli-text-two{
    text-transform: capitalize;
    font-family: ﻿Montserrat-Bold, ﻿Montserrat-Regular, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
font-size: 1.5rem;
font-weight: bold;
color: rgba(34, 34, 34, 255);
text-align: center;
padding: 2%;
}
.juli-text-three{
    font-family: ﻿RobotoSlab-Bold, ﻿RobotoSlab-Regular, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
font-size: 1 rem;
color: rgba(119, 119, 119, 255);
text-align: center;
}
.command{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.glava{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33,33%;
    margin: 1%;

}
.command-link-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}
.command-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}
.command-link-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

.social-item-links{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.pinterest{
    background-color: #cb2028;
    padding: 10%;
    border: 1px solid #cb2028;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.facebook{
    background-color: #3b5998;
    padding: 10%;
    border: 1px solid #3b5998;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.twitter{
    background-color: #00aced;
    padding: 10%;
    border: 1px solid #00aced;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    
}
.socail-item-icon{
    width: 15%;
}
.socail-item-icon:hover .pinterest,
.socail-item-icon:hover .facebook,
.socail-item-icon:hover .twitter
{
    background-color: black;
    border: 1px solid black;
}
.command-text-one{
    font-family: ﻿ChunkFive-Roman, ﻿RobotoSlab-Regular, ﻿Montserrat-Bold, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
font-size: 1 rem;
font-weight: bold;
color: rgba(34, 34, 34, 255);
padding: 5%;
}
.command-text-two{
    font-family: ﻿ChunkFive-Roman, ﻿RobotoSlab-Regular, ﻿Montserrat-Bold, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
font-size: 0.9rem;
color: rgba(34, 34, 34, 255);
padding: 5%;
}
.levo span{
    text-align: center;
    width: 90%;
}
.pravo span{
    text-align: center;
    width: 90%
}
@media(min-width: 768px) {
    .section {
    flex-direction: column;     
 }
 .logo-menu{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    }
    .menu{
        flex-direction: row;
        width: 100%;
        height: auto;
       align-items: center;
    }
    .tell{
        width: 25%;
        padding: 1%;
        font-size: 1.2rem;
    }
    .serv{
        padding: 2%;
    }
    .proin{
        padding: 2%;
    }
    .main{
        flex-direction: row;
        width: 75%;
    }
    .main-liks{
        width: 30%;
        margin: 1%;
    }
    .com::before{
        width: 32%;
        padding: 6%;
    }
    .web::before{
        width: 32%;
        padding: 6%;
    }
    .resa::before{
        width: 32%;
        padding: 6%;
    }
    .images{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        }
        .images-link{
            margin: 1%;
        }
        .july{
            flex-direction: row;
            width: 50%;
            /* align-items: center; */
            margin: auto;
            /* justify-content: center; */
        }
       
        .levo{
            width: 25%;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-content: flex-start;
            align-self:flex-start;
           
            
        }
        .levo span{
            text-align: right;
            /* width: 10%; */
        }
        .pravo span{
            text-align: left;
            /* width: 10%; */
        }
        .juli li{
            align-items: center;
        }
        .command{
            display: flex;
            flex-direction: row;
            width: 90%;
        }
        .juli-link-image img{
            /* display: none; */
            padding: 0;
        }
        
}
@media(min-width: 768px){
    .images{
        width: 75%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        }
}