*{
    text-decoration: none;
    list-style: none;
    }

    .nav{
        display:flex;
        justify-content: center;
        width: 30%;
        color: black;
    }
    a{
        color: black;
    }
    
    a:hover{
        color: blueviolet;
    }