.button {
  all: unset;
  padding: 8px 16px;
  margin-left: 4px;
  margin-right: 4px;
  font: inherit;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #212121;
}

.button:hover {
  background-color: #2196f3;
}
